
<section id="home">
	<div id="slideshow">
		<img src="assets/background_home_4.jpg" class="bgM"/>
		<img src="assets/background_home_5.jpg" class="bgM"/>
		<img src="assets/background_home_6.jpg" class="bgM"/>
	</div>

		<center><div class="hero-unit">
			<img src="assets/Home_Logo.png" class="pull-left">
			<h1 class="pull-right"><br>Move Better<br>Move Stronger<br>Move Faster</h1>
			<h3 class="pull-right">CALL TODAY | 416-786-5415​​​</h3>
			<!--<p>
					<%= link_to "Sign Up Now", "#", class: "btn btn-primary btn-large" %>
			</p>-->
		</div></center>
	</div>
</section>
<section id="about_title">
	<h1><i class="fontawesome-info-sign"></i> ABOUT</h1>
</section>
<section id="about">
	<div class="container">
		<h2>Facility</h2>
		<p>Equipped with the the highest quality, we have all the tools needed to help you reach your athletic goals, including</p>
	​		<ul>
				<li>Free weights</li>
				<li>﻿Kettlebells</li>
				<li>Turf</li>
				<li>Hurdles</li>
				<li>Speed ladder</li>
				<li>Sled</li>
				<li>Ropes</li>
				<li>Plyometric boxes</li>
			</ul>
		<h2>Training Philosophy</h2>
		<p>Using the latest in sport science research, our goal is to provide a cutting edge training environment and improved athletic performance. Our programming is based off of fundamental principles and progressions to develop movement competency leading to movement capacity.</p>
		<p>Developing these motor skills with the proper progression allows us to ensure that we protect athletes from injury and improve performance from the ground up.</p> 
		<p>Whether you're an elite athlete or weekend warrior, we can design a program to maximize your potential while maintaining your health and safety.</p>	
		<h2>About Me</h2>
		<h3>Karamvir Gill, B.Sc, CSCS, D.C. (candidate)</h3>
​		<ul>
			<li>B.Sc with Honours in Kinesiology & Health Sciences from York University (2010)</li>
			<li>Doctor of Chiropractic candidate at the Canadian Memorial Chiropractic College </li>
			<li>Member of the National Strength and Conditioning Association and Certified Strength and Conditioning Specialist</li>
			<li>Passionate learner completing courses in Functional Movement Systems, Dynamic Neuromuscular Stabilization, Functional Range Release and Functional Range Conditioning</li>
			<li>Avid athlete and competitive golfer </li>
		</ul>
	</div>
</section>
<section id="center_1">
	<center>
		<div class="hero-unit">
			<h1>Improve your health & athletic performance. Give us a call today!</h1>
		</div>
	</center>
</section>
<section id="programs_title">
	<h1><i class="entypo-doc-text"></i> PROGRAMS</h1>
</section>
<section id="programs">
	<div class="container">
		<h2>Learn to Move (Ages 7-13)</h2>
		<p>﻿﻿Rooted in the long term athletic development approach, this program focuses on teaching young athletes fundamental movement skills. Using the principles of the Titleist Cyclone circuit, emphasis is placed upon: ﻿agility, kicking throwing, jumping, hopping, running, striking, pushing, pulling, balance, hitting and rotation.</p>
		<p class="class_info">Classes - 60 min, 1-2 x/week | Cost - $90/month</p>
		<h2>Athletic Development</h2>
		<p>Developing a foundation for sport specific training with well balanced athletes.  We begin with a comprehensive assessment leading to individualized program design. Athletes will develop movement competency, speed, power, strength, and energy systems capacity. Cutting edge program design in combination with intense technical coaching ensures we are working efficiently on the road to elite athletic performance.
		</p> 
		<p class="class_info">Classes - 90 min, 2-3 x/week | Cost - $199/month</p>
		<h2>Semi Private</h2>
		​<p>Train in a fun, intense, and results oriented environment!  Designed to help you on the track to your specific health goals, the group environment promotes accountability and a healthy social dynamic while still allowing for individualized program design. This program is structured around increasing mobility, strength and weight loss.</p>
		<p class="class_info">Classes - 60 min, 2-3/week | Cost - $199/month</p>
		<h2>Program Design</h2>
		<p>Based off of a comprehensive movement and performance assessment, receive an individualized program designed to help you smash your goals! Whether your looking to move better, get stronger, improve performance or lose some weight, our programs will help you feel better than you have ever felt before.</p>
		<p class="class_info">3 Month program + assessment - $ 250</p>
	</div>
</section>
<section id="center_2">
	<center>
		<div class="hero-unit">
			<h1>Free trial: Come train with us for a session!</h1>
		</div>
	</center>
</section>
<section id="resources_title">
	<h1><i class="entypo-book"></i> RESOURCES</h1>
</section>
<section id="resources">
	<div class="container">
		<h1>RESOURCES</h1>
		<p>Perform Better - The Experts in Functional Training, Rehabilitation, and Sports Performance</p>
		<p>Mike Boyle's Strength Coach - The World's Best Source for Performance Enhancement Information</p>
﻿
		<h2>Recommended Reading</h1> 
		<ul>
			<li>The Talent Code</li>
			<li>Movement</li>
			<li>Corrective Exercise Solutions to Common Hip and Shoulder Dysfunction</li>
		</ul>
	</div>
</section>
