<section id="home">
<div class="hero-unit">
	<h1>KGAthletics</h1>
	<p>
		Move Stronger. Move Faster. Move Faster.
	</p>
	<p>
		<%= link_to "Sign Up Now", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>
</section>

<section id="about">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque vestibulum tempor. Pellentesque ut orci in risus hendrerit tempus. Integer eu justo eros, commodo faucibus est. Praesent ante quam, pretium quis semper sed, tincidunt in justo. Aliquam convallis metus sit amet ante lobortis ornare. Maecenas nisi ipsum, bibendum ac adipiscing a, condimentum at augue. Aliquam cursus vehicula mi, et gravida sapien consequat id. Morbi dapibus orci id lectus tincidunt aliquet fringilla sem dignissim. Ut lectus lectus, consectetur a bibendum at, tincidunt vel quam. Vivamus rhoncus velit vel velit ultrices ullamcorper. Curabitur id consectetur turpis. Nullam libero ipsum, elementum eu iaculis a, pulvinar a felis.</p>

<p>Pellentesque elit diam, ultrices et dapibus porttitor, bibendum non orci. Aenean ultrices, leo ac venenatis egestas, lectus nisl facilisis metus, eu cursus enim mauris id leo. Nulla euismod mattis sem in consequat. In vulputate nunc nec mauris posuere quis vehicula purus bibendum. Nam egestas mollis malesuada. Fusce vulputate pellentesque est, vel blandit neque dignissim ullamcorper. Proin in ante ut neque placerat sollicitudin sit amet sit amet lorem. Ut eleifend, mi et aliquam semper, magna risus fermentum diam, molestie semper sem risus eu mi. Aenean lobortis tempus dui et pharetra. Sed luctus eleifend ultrices. Proin nec sodales mauris. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras convallis consequat nibh, non aliquet neque elementum ullamcorper. Nunc sagittis nunc id nibh mollis mattis.</p>

<p>Donec a mi vitae mauris tincidunt porttitor. Nulla rutrum dui nec dolor faucibus placerat. Sed laoreet, tortor non tempus aliquam, libero sem dignissim odio, quis gravida mi justo non augue. Nam cursus dictum interdum. Phasellus venenatis ultrices massa, vitae imperdiet augue vulputate sit amet. Fusce congue, est sed commodo blandit, libero quam vehicula lorem, a dictum ipsum nunc vel enim. Donec purus dolor, ornare non accumsan eget, ornare non libero. Fusce a ipsum nec turpis mollis vestibulum ut a mauris. Morbi sit amet orci enim. Etiam tempor tempus augue, non sagittis risus accumsan eget. Proin lobortis velit congue tortor iaculis vitae dignissim lectus dignissim. Donec congue justo at neque convallis ut tempor augue convallis. Nunc lacus quam, malesuada vitae feugiat sit amet, hendrerit sed leo. Nulla lectus libero, adipiscing sed pellentesque a, mollis et lectus. Curabitur vel felis sed est blandit luctus. Fusce lobortis, ligula vel tempor vehicula, nunc justo ultricies velit, nec pretium mi ipsum ut odio.</p>

<p>Proin nibh lectus, pretium sit amet lobortis eu, porta in augue. Nulla vitae tellus sed risus viverra aliquet sed id sem. Etiam dapibus ante libero, in eleifend magna. Sed fermentum porta augue at suscipit. Suspendisse potenti. In fringilla bibendum dolor, id ultrices massa adipiscing non. Aenean sollicitudin lectus felis. Etiam viverra elementum viverra. Nunc arcu magna, elementum id scelerisque nec, molestie vitae purus. Praesent vitae dui quam, sed placerat diam.</p>

<p>Vivamus eu sagittis turpis. Maecenas lacinia eleifend eleifend. Fusce orci turpis, porttitor nec convallis quis, faucibus vel lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam tellus magna, dictum ultrices pretium in, mattis nec leo. Morbi sit amet arcu eu ante imperdiet sodales non vitae enim. Proin lacus est, venenatis ac laoreet dapibus, tempor non justo. Suspendisse potenti. Nullam ut dolor sit amet massa tempor vulputate placerat eget lacus. Cras viverra sollicitudin enim, a pulvinar lacus tempor in. Sed sed est libero, vitae tempor leo.</p>
</section>