/*navbar customization*/
/*blue: 084d86*/;
$blue: #084d86;
$lightBlue: #82c2f8;




@import 'bootstrap';
@import 'bootstrap-responsive';



body{
	padding-top: 0px;
	font-size: 18px;
    letter-spacing: 1px;
    line-height: 25px;

}



.navbar{
margin:0px 0px 0px 0px;
font-family: 'Ubuntu', sans-serif;
}

.nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
}

.navbar-inner{
border-radius:0px;
background: white !important;
filter: none !important;
border-top:5px solid white !important;
border-bottom:5px solid white !important;
border-left:0px !important;
border-right:0px !important;
box-shadow: none;
}

.navbar .btn{
background: $lightBlue !important;  
padding:4px 10px;
}

.navbar .btn:hover{
background: $blue !important;
}

.navbar .caret{
border-top-color:#fff !important;
border-bottom-color:#fff !important;
}

.navbar .nav{
border-left:0px solid $lightBlue;
border-right:0px solid $lightBlue;
}

.navbar .nav > li > a{
padding:12px 15px 12px;
color: $blue !important;
letter-spacing: 0px;
font-size: 14px;
text-transform: lowercase;
/*text-shadow: none !important;*/
/*text-shadow: .2px .2px 1px black !important;*/
border-right: 0px solid $lightBlue;
border-left:0px solid $lightBlue;
-webkit-transition:background .2s ease;
-moz-transition:background .2s ease;
-o-transition:background .2s ease;
transition:background .2s ease;
}

.navbar .nav > li > a:hover{
background: $blue !important;
color: white !important;
-webkit-transition:background .2s ease;
-moz-transition:background .2s ease;
-o-transition:background .2s ease;
transition:background .2s ease;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav .active > a:focus {
color: white !important;
box-shadow:none;
background: $blue !important;
}



.nav-collapse a{
font-weight:normal !important;
text-shadow:none !important;
}




#home .hero-unit {
	background-color: rgba(255, 255, 255, .5);
	color: white;
	height: 300px;
	width: 900px;
	margin-top: 100px;

}
#home{
	background: black image-url('background_home_4.jpg') no-repeat fixed;
	background-size: cover;
	margin-top: 0px;
	margin-top: 0px;
	height: 700px;
	padding-top: 100px;
}

#about {
  /*background: black image-url('home_background.jpg') no-repeat fixed;*/
  background-color: #82c2f8;
  padding-top: 40px;
  color: white;
}

/* line 128, ../../app/assets/stylesheets/styles.css.scss */
#about h1 {
  color: white;
  font-size: 50px;
  background-color: #084d86;
  height: 40px;
  padding: 20px;
  letter-spacing: -4px;
}

/* line 137, ../../app/assets/stylesheets/styles.css.scss */
#about h2 {
  font-size: 40px;
  margin-left: 100px;
  width: 400px;
  padding: 10px;
  background-color: white;
  color: #084d86;
}

/* line 142, ../../app/assets/stylesheets/styles.css.scss */
#about p {
  padding-left: 100px;
}

#about h3{
  padding-left: 100px;
}
#about ul{
  padding-left: 100px;
}

#about li{
  list-style-type: none;
}
#about ul li:before {
 content: "\0BB \020";
 }


#programs{
	/*background: black image-url('home_background.jpg') no-repeat fixed;*/
	background-color: $blue;
	padding-top: 40px;
	color: white;
}

#programs h1 {
  color: white;
  font-size: 50px;
  background-color: #084d86;
  height: 40px;
  padding: 20px;
  letter-spacing: -4px;
}

#programs h2 {
  font-size: 40px;
  margin-left: 100px;
  display: inline-block;
  padding: 10px;
  background-color: white;
  color: #084d86;
}

#programs p {
  padding-left: 100px;
}

#programs h3{
  padding-left: 100px;
}
#about ul{
  padding-left: 100px;
}

#programs li{
  list-style-type: none;
}
#programs ul li:before {
 content: "\0BB \020";
 }






#resources{
	/*background: black image-url('home_background.jpg') no-repeat fixed;*/
	background-color: $lightBlue;
	padding-top: 40px;
}

#contact{
	/*background: black image-url('home_background.jpg') no-repeat fixed;*/
	background-color: $blue;
}