/*navbar customization*/
/*blue: 084d86*/;
$blue: #084d86;
$lightBlue: #82c2f8;




@import 'bootstrap';
@import 'bootstrap-responsive';
@import url(http://fonts.googleapis.com/css?family=Ubuntu:500);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

body{
	padding-top: 0px;
	font-size: 12px;
  letter-spacing: 1px;
  line-height: 25px;
  font-family: 'Lato', sans-serif;
}



.navbar{
margin:0px 0px 0px 0px;
font-family: 'Ubuntu', sans-serif;
border-top: 5px solid $lightBlue;
border-bottom: 5px solid $lightBlue;


}

.nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
}

.navbar-inner{
border-radius:0px;
background: white !important;
filter: none !important;
border-top:5px solid white !important;
border-bottom:5px solid white !important;
border-left:0px !important;
border-right:0px !important;
box-shadow: none;
}

.navbar .btn{
background: $lightBlue !important;  
padding:4px 10px;
}

.navbar .btn:hover{
background: $blue !important;
}

.navbar .caret{
border-top-color:#fff !important;
border-bottom-color:#fff !important;
}

.navbar .nav{
border-left:0px solid $lightBlue;
border-right:0px solid $lightBlue;
}

.navbar .nav > li > a{
padding:12px 15px 12px;
color: $blue !important;
letter-spacing: 2px;
font-size: 14px;
font-weight: 500;
text-transform: uppercase;
/*text-shadow: none !important;*/
/*text-shadow: .2px .2px 1px black !important;*/
border-right: 0px solid $lightBlue;
border-left:0px solid $lightBlue;
-webkit-transition:background .2s ease;
-moz-transition:background .2s ease;
-o-transition:background .2s ease;
transition:background .2s ease;
}

.navbar .nav > li > a:hover{
background: $blue !important;
color: white !important;
-webkit-transition:background .2s ease;
-moz-transition:background .2s ease;
-o-transition:background .2s ease;
transition:background .2s ease;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav .active > a:focus {
color: white !important;
box-shadow:none;
background: $blue !important;
}



.nav-collapse a{
font-weight:normal !important;
text-shadow:none !important;
}




#home .hero-unit {
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  margin-left: 100px;
  margin-right: 100px;
  min-width: 350px;
  
}

#home {
  background: black url(/assets/background_home_4.jpg) no-repeat fixed;
  background-size: cover;
  margin-top: 0px;
  margin-top: 0px;
  min-height: 700px;

  padding-top: 200px;
  padding-bottom: 50px;
}

#home .hero-unit h1 {
  margin-top: -30px;
  float: right;

}

#home .hero-unit img{
  float: left;
  min-width: 350px;
  min-height: 299px;
}

#home .hero-unit h3 {
  color: white;
  background-color: #82c2f8;
  padding: 5px;
  float: right;
}

#about {
	/*background: black image-url('background_home_5.jpg') no-repeat fixed;*/
	background-size: cover;
  background-color: $blue;
	padding-top: 50px;
  color: white;
}

#about_title{
  height: 50px;
  border-bottom: 5px solid $lightBlue;
  border-top: none;
  padding-left: 100px;
  background-color: $lightBlue;


}

#about_title h1 {
  color: $blue;
  font-size: 50px;
  letter-spacing: 10px;

}

#about h2 {
  font-size: 40px;
  margin-left: 100px;
  display: inline-block;
  padding: 10px;
  color: white;

}

#about p {
  margin-left: 150px;
  padding-bottom: 10px;
  font-size: 26px;
  /*width: 700px;*/
  line-height: 40px;
  font-weight: bolder;
}

#about h3 {
  margin-left: 150px;
  font-size: 35px;
}

#about ul {
  margin-left: 150px;
  width: 700px;
  margin-top: -20px;
}

#about li {
  list-style-type: none;
  font-size: 26px;
  line-height: 40px;
  padding: 5px;
  letter-spacing: .1px;
  display: inline-block;

}

#about li:hover {
  background-color: $lightBlue;
}

#about ul li:before {
  content: "\0BB \020";
}


#programs{
	background-color: $lightBlue;
	padding-top: 50px;
	color: #ccc;
}

#programs h1 {
  color: white;
  font-size: 50px;
  height: 40px;
  letter-spacing: -4px;
  padding-bottom: 10px;
  border-bottom: 5px solid white;
}

#programs h2 {
  font-size: 40px;
  margin-left: 100px;
  display: inline-block;
  padding: 10px;
  background-color: white;
  color: #666;
}

#programs p {
  margin-left: 150px;
  padding-bottom: 10px;
  font-size: 26px;
  width: 700px;
  line-height: 40px;
  font-weight: bolder;
}

#programs .class_info{
	color: $lightBlue;
	font-weight: normal;
}

#programs h3 {
  margin-left: 150px;
  font-size: 35px;
}

#programs ul {
  margin-left: 150px;
  width: 700px;
  margin-top: -20px;
}

#programs li {
  list-style-type: none;
  font-size: 26px;
  line-height: 40px;
  padding: 5px;
  letter-spacing: .1px;
  display: inline-block;

}

#programs li:hover {
  background-color: #084d86;
}

#programs ul li:before {
  content: "\0BB \020";
}




#resources{
	/*background: black image-url('home_background.jpg') no-repeat fixed;*/
	background-color: white;
	padding-top: 50px;
	color: white;
	height: 900px;
}

#resources h1 {
  color: $blue;
  font-size: 50px;
  height: 40px;
  letter-spacing: -4px;
  padding-bottom: 10px;
  border-bottom: 5px solid $blue;
}

#resources h2 {
  font-size: 40px;
  margin-left: 100px;
  display: inline-block;
  padding: 10px;
  background-color: white;
  color: $blue;
}

#resources p {
  margin-left: 150px;
  padding-bottom: 10px;
  font-size: 26px;
  width: 700px;
  line-height: 40px;
  font-weight: bolder;
  color: $blue;
}

#resources h3 {
  margin-left: 150px;
  font-size: 35px;
}

#resources ul {
  margin-left: 150px;
  width: 700px;
  margin-top: -20px;
  color: $blue;
}

#resources li {
  list-style-type: none;
  font-size: 26px;
  line-height: 40px;
  padding: 5px;
  letter-spacing: .1px;
  display: inline-block;

}

#resources li:hover {
  background-color: $blue;
  color: white;
}

#resources ul li:before {
  content: "\0BB \020";
}

#contact{
	/*background: black image-url('home_background.jpg') no-repeat fixed;*/
	background-color: $blue;
	padding-top: 50px;

}

#center_1{
	background: black image-url('background_home_5.jpg') no-repeat fixed;
	background-color: $blue;
	height: 800px;
	background-size: cover;
	position: relative;

}

#center_1 .hero-unit {
	background-color: rgba(255, 255, 255, .5);
	color: $blue;
	display: inline-block;
	position: absolute;
    top: 30%;
    left: 0%;
    right: 0%;
    /*height: 20%;
    margin: -15% 0 0 -25%;*/
    margin-left: 0;
}

#center_2{
	background: black image-url('background_home_6.jpg') no-repeat fixed;
	background-color: $blue;
	height: 800px;
	background-size: cover;
	position: relative;

}

#center_2 .hero-unit {
	background-color: rgba(255, 255, 255, .5);
	color: $blue;
	display: inline-block;
	position: absolute;
    top: 30%;
    left: 0%;
    right: 0%;
    /*height: 20%;
    margin: -15% 0 0 -25%;*/
    margin-left: 0;
}

#footer {
  background-color: #084d86;
  color: white;
  font-size: 14px;
}


#footer h3{
  border-bottom: 2px solid white;
  padding-bottom: 0px;
}