<section id="footer">
	<div class="container">
		<div class="row">
		  	<div class="span3">
		  		<h3>Opening Hours</h3>
		  		<h4>Monday - Friday</h4>
		  		<h5>7:00AM - 10:00PM</h5>
		  		<h4>Saturday - Sunday</h4>
		  		<h5>7:00AM - 8:00PM</h5>
		  	</div>
		  	<div class="span3">
		  		<h3>Address</h3>
		  		<p>121 Pannahill Drive<br>
		  			Brampton, ON L6P 3T6
		  		</p>
		  		<h3>Contact</h3>
				<p>info@kgathletcs.com<br>
					Tel: 416.786.5415
				</p>
		  	</div>
		  	<div class="span3">
		  	</div>
		</div>
	</div>
</section>